*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // inherit from body
}

html {
  //1 rem = 10px (default 16px), 10px / 16px = 62.5%
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $primary;
  background-image: url(/images/bg-pattern-top.svg),
    url(/images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom 50vh right 50vw, top 50vh left 50vw;
}
